<?xml version="1.0" encoding="UTF-8" ?> <!--schema约束-->
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- ioc -->
    <bean id="user" class="third.world.demo.bottom.principle.spring.ioc.User"></bean>

    <bean id="anoUser" class="third.world.demo.bottom.principle.spring.ioc.UserFactory" factory-method="getBean"></bean>
</beans>